.projectPopup {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgba(193, 199, 208, 0.9);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project1 {
  background-color: #fff;
  height: 97%;
  width: 92%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.popupTop {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.titlePopup {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projectImage {
  display: flex;
  justify-content: center;
}

.popupClose {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.popupClose:hover {
  transform: scale(1.2);
  transition: all 0.7s;
}

.actionBtnPopup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnPopup {
  font-size: 17px;
  padding: 6px;
  width: 44%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.seeAll {
  width: 20px;
  height: 20px;
}

.popupBtns,
.popupDown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px 0;
  }
  
  .client {
    color: #344563;
  }
  
  .dim {
    color: #7a869a;
  }
  
  .project-desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin: 10px 10px 10px 0;
  }
  

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  
  .tag {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 20px;
  }
  
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 124px;
    height: 48px;
    margin: 15px 0;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #396df2;
    color: white;
  }
  

@media only screen and (min-width: 768px) {
  .project1 {
    background-color: #fff;
    height: 96%;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popupTop {
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .projectImage {
    display: flex;
    height: 70%;
    object-fit: cover;
  }

  .popupDown {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .popupBtns {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
  }

  .popupDesc {
    width: 60%;
  }

  .btnPopup {
    padding: 0;
    font-size: 20px;
    width: 50%;
  }

  .actionBtnPopup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  .client {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .dim {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .project-desc {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 10px 10px 10px 0;
  }


  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.5s;
  }

  .btn:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.5s ease-in-out;
  }

  .btn2:hover {
    cursor: pointer;
    background-color: #396df2;
    color: white;
    transform: scale(1.15);
    transition: all 0.5s;
  }

  .client {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }
}
