* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

body {
  position: relative;
  width: 100vw;
  height: 755.59vh;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation_bar {
  width: 100vw;
  height: 6.7vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.my_logo {
  height: 1.25rem;
  width: 4.75rem;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-left: 1.5rem;
}

.social_media_icons {
  width: 1.125rem;
  height: 0.7rem;
  margin-right: 2.25rem;
}

.headline {
  width: 100vw;
  height: 95.12vh;
  background: #fff;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  gap: 0.75rem;
}

.headline-1 {
  width: 20.438rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
}

.headline-1-h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.headline-2 {
  width: 20.438rem;
  height: 9.125rem;
}

.headline-2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.headline-3 {
  width: 7.5rem;
  height: 1.5rem;
}

.headline-3-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.headline-4 {
  width: 10.636rem;
  height: 1.25rem;
}

.headline-4-ul {
  width: 10.636rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*works*/
.works {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  width: 100vw;;
  height: 439.05vh;
  gap: 5.5rem;
  padding: 7.125rem 1.5rem;
}

/*works-1*/
.works-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 86.93vh;
  background: #FFFFFF;
  border: 0.063rem solid #DFE1E6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-1-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-1-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 45.35vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-1-div2-1 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;
gap: 0.75rem;
width: 78.67vw;
height: 12.6vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-1-div2-1-a {
  width: 78.67vw;
height: 5.67vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-1-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 2.75rem;
}

.works-1-div2-1-b-ul {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0;
gap: 0.75rem;
width: 62.93vw;
height: 5.04vh;
flex: none;
order: 1;
flex-grow: 0;
}

.works-1-div2-1-b-ul-li-1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 14.67vw;
height: 5.04vh;
}

.works-1-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #344563;
}

.works-1-div2-1-b-ul-li-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 24.46vw;
height: 5.04vh;
}

.works-1-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
height: 1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-1-div2-1-b-ul-li-5 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;


width: 7.73vw;
height: 5.04vh;

}

.works-1-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
height: 2.52vh;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-1-div2-2 {
  width: 76.67vw;
height: 11.97vh;
}

.works-1-div2-2-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.938rem;
line-height: 1.5rem;
color: #344563;
}

.works-1-div2-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0rem;
gap: 0.5rem;
width: 54.13vw;
height: 3.78vh;
}

.works-1-div2-3-btn1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 3.313rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-1-div2-3-btn1-sp1 {
  width: 1.813rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-1-div2-3-btn2 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 2.813rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;

}

.works-1-div2-3-btn2-sp2 {
  width: 1.313rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-1-div2-3-btn3{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 5.563rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-1-div2-3-btn3-sp3 {
  width: 4.063rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-1-div2-4 {
  width: 78.67vw;
height: 11.34vh;
}

.works-1-div2-4-btn {
  box-sizing: border-box;
  display: flex;
flex-direction: row;
align-items: center;
text-align: center;
padding: 0.75rem;
gap: 0.625rem;
width: 7.95rem;
height: 3rem;
border: 1px solid #6070FF;
border-radius: 0.75rem;
background: #FFFFFF;
}

.works-1-div2-4-btn-sp {
  width: 6.25rem;
height: 1.5rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.063rem;
line-height: 1.5rem;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.48px;
color: #396DF2;

}

/*works-2*/
.works-2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 93.86vh;
  background: #FFFFFF;
  border: 0.063rem solid #DFE1E6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-2-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-2-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 52.28vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-2-div2-1 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;
gap: 0.75rem;
width: 78.67vw;
height: 19.53vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-2-div2-1-a {
  width: 78.67vw;
height: 12.6vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-2-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 2.75rem;
}

.works-2-div2-1-b-ul {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0;
gap: 0.75rem;
width: 62.93vw;
height: 5.04vh;
flex: none;
order: 1;
flex-grow: 0;
}

.works-2-div2-1-b-ul-li-1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 14.67vw;
height: 5.04vh;
}

.works-2-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #344563;
}

.works-2-div2-1-b-ul-li-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 24.46vw;
height: 5.04vh;
}

.works-2-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
height: 1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-2-div2-1-b-ul-li-5 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 7.73vw;
height: 5.04vh;

}

.works-2-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
height: 2.52vh;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-2-div2-2 {
  width: 76.67vw;
height: 11.97vh;
}

.works-2-div2-2-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.938rem;
line-height: 1.5rem;
color: #344563;
}

.works-2-div2-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0rem;
gap: 0.5rem;
width: 54.13vw;
height: 3.78vh;
}

.works-2-div2-3-btn1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 3.313rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-2-div2-3-btn1-sp1 {
  width: 1.813rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-2-div2-3-btn2 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 2.813rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;

}

.works-2-div2-3-btn2-sp2 {
  width: 1.313rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-2-div2-3-btn3{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 5.563rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-2-div2-3-btn3-sp3 {
  width: 4.063rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-2-div2-4 {
  width: 78.67vw;
height: 11.34vh;
}

.works-2-div2-4-btn {
  box-sizing: border-box;
  display: flex;
flex-direction: row;
align-items: center;
text-align: center;
padding: 0.75rem;
gap: 0.625rem;
width: 7.95rem;
height: 3rem;
border: 1px solid #6070FF;
border-radius: 0.75rem;
background: #FFFFFF;
}

.works-2-div2-4-btn-sp {
  width: 6.25rem;
height: 1.5rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.063rem;
line-height: 1.5rem;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.48px;
color: #396DF2;

}

/*works-3*/
.works-3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 86.93vh;
  background: #FFFFFF;
  border: 0.063rem solid #DFE1E6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-3-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-3-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 45.35vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-3-div2-1 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;
gap: 0.75rem;
width: 78.67vw;
height: 12.6vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-3-div2-1-a {
  width: 78.67vw;
height: 5.67vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-3-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 2.75rem;
}

.works-3-div2-1-b-ul {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0;
gap: 0.75rem;
width: 62.93vw;
height: 5.04vh;
flex: none;
order: 1;
flex-grow: 0;
}

.works-3-div2-1-b-ul-li-1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 14.67vw;
height: 5.04vh;
}

.works-3-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #344563;
}

.works-3-div2-1-b-ul-li-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 24.46vw;
height: 5.04vh;
}

.works-3-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
height: 1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-3-div2-1-b-ul-li-5 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 7.73vw;
height: 5.04vh;

}

.works-3-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
height: 2.52vh;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-3-div2-2 {
  width: 76.67vw;
height: 11.97vh;
}

.works-3-div2-2-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.938rem;
line-height: 1.5rem;
color: #344563;
}

.works-3-div2-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0rem;
gap: 0.5rem;
width: 54.13vw;
height: 3.78vh;
}

.works-3-div2-3-btn1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 3.313rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-3-div2-3-btn1-sp1 {
  width: 1.813rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-3-div2-3-btn2 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 2.813rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;

}

.works-3-div2-3-btn2-sp2 {
  width: 1.313rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-3-div2-3-btn3{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 5.563rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-3-div2-3-btn3-sp3 {
  width: 4.063rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-3-div2-4 {
  width: 78.67vw;
height: 11.34vh;
}

.works-3-div2-4-btn {
  box-sizing: border-box;
  display: flex;
flex-direction: row;
align-items: center;
text-align: center;
padding: 0.75rem;
gap: 0.625rem;
width: 7.95rem;
height: 3rem;
border: 1px solid #6070FF;
border-radius: 0.75rem;
background: #FFFFFF;
}

.works-3-div2-4-btn-sp {
  width: 6.25rem;
height: 1.5rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.063rem;
line-height: 1.5rem;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.48px;
color: #396DF2;
}

/*works-4*/
.works-4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 93.86vh;
  background: #FFFFFF;
  border: 0.063rem solid #DFE1E6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-4-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-4-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 52.28vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-4-div2-1 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;
gap: 0.75rem;
width: 78.67vw;
height: 19.53vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-4-div2-1-a {
  width: 78.67vw;
height: 12.6vh;
flex: none;
order: 0;
flex-grow: 0;
}

.works-4-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 2.75rem;
}

.works-4-div2-1-b-ul {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0;
gap: 0.75rem;
width: 62.93vw;
height: 5.04vh;
flex: none;
order: 1;
flex-grow: 0;
}

.works-4-div2-1-b-ul-li-1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 14.67vw;
height: 5.04vh;
}

.works-4-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #344563;
}

.works-4-div2-1-b-ul-li-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 24.46vw;
height: 5.04vh;
}

.works-4-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
height: 1rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-4-div2-1-b-ul-li-5 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.5rem 0rem;
width: 7.73vw;
height: 5.04vh;

}

.works-4-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
height: 2.52vh;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 0.813rem;
line-height: 1rem;
color: #7A869A;
}

.works-4-div2-2 {
  width: 76.67vw;
height: 11.97vh;
}

.works-4-div2-2-p {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 0.938rem;
line-height: 1.5rem;
color: #344563;
}

.works-4-div2-3 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0rem;
gap: 0.5rem;
width: 54.13vw;
height: 3.78vh;
}

.works-4-div2-3-btn1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 3.313rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-4-div2-3-btn1-sp1 {
  width: 1.813rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-4-div2-3-btn2 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 2.813rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;

}

.works-4-div2-3-btn2-sp2 {
  width: 1.313rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-4-div2-3-btn3{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0.25rem 0.75rem;
width: 5.563rem;
height: 1.5rem;
background: #EBEBFF;
border-radius: 0.5rem;
}

.works-4-div2-3-btn3-sp3 {
  width: 4.063rem;
height: 1rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 1rem;
letter-spacing: 0.03em;
color: #6070FF;
}

.works-4-div2-4 {
  width: 78.67vw;
height: 11.34vh;
}

.works-4-div2-4-btn {
  box-sizing: border-box;
  display: flex;
flex-direction: row;
align-items: center;
text-align: center;
padding: 0.75rem;
gap: 0.625rem;
width: 7.95rem;
height: 3rem;
border: 1px solid #6070FF;
border-radius: 0.75rem;
background: #FFFFFF;
}

.works-4-div2-4-btn-sp {
  width: 6.25rem;
height: 1.5rem;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.063rem;
line-height: 1.5rem;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.48px;
color: #396DF2;
}

/*about me*/
.aboutme {
  display: flex;
flex-direction: column;
align-items: center;
padding: 114px 24px;
gap: 24px;
width: 375px;
height: 1125.15px;
background: #FFFFFF;
}

.top {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 327px;
height: 409px;
background-color: khaki;
}

.top1 {
  width: 327px;
height: 101px;
background-color: lightgray;
}

.top1-p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;

}

.top2  {
  width: 327px;
height: 144px;
background-color: #7A869A;
}

.top2-p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #344563;

}

.top3 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 200px;
height: 80px;
background-color: lemonchiffon;
}

.top3-1 {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
width: 117px;
height: 24px;
background-color: darksalmon;

}

.top3-1-p {
  width: 117px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7F8CFF;
}

.top3-2-ul {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
width: 200px;
height: 40px;
}

.top3-2-ul-li1 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 8px;

}

.top3-2-ul-li2 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 8px;
}

.top3-2-ul-li3 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 8px;
}

.top3-2-ul-li4 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 8px;
}

.top3-2-ul-li5 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 40px;
height: 40px;

border-radius: 8px;
}

.top4 {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 162px;
height: 48px;

/* Primary/B400 */

border: 1px solid #6070FF;
border-radius: 8px;
background-color: #FFFFFF;
}

.top4-sp {
  width: 138px;
height: 24px;

/* Button /Normal */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
/* identical to box height, or 141% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

/* Primary/B500 */

color: #396DF2;
}

.skillset {
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 327px;
height: 464.15px;
background-color: lavenderblush;
}

.skillset1 {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
background-color: ghostwhite;
width: 327px;
height: 320.15px;
border: #7F8CFF;
}

.skillset1-1-ul {
  width: 327px;
height: 72px;
background-color: steelblue;
}

.skillset1-1-ul-li1 {
  display: flex;
align-items: center;
height: 24px;
}

.skillset1-1-ul-li1-sp {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #000000;
}

.skillset1-1-ul-li2 {
  width: 24px;
height: 24px;
}

.skillset1-2 {
  display: flex;
flex-direction: column;
align-items: center;
padding: 12px;
gap: 12px;

width: 327px;
height: 248.15px;
background-color: darkcyan;
}

.skillset1-2-1-ul {
  width: 303px;
height: 66.72px;

/* Neutrals/N10 */

background: #F7F7F9;
border-radius: 8px;
}