* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:hover {
  background: #6070ff;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

body {
  position: relative;
  width: 100vw;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 6.7vh;
}

.navigation_bar {
  width: 100%;
  height: 6.7vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.my_logo {
  height: 1.25rem;
  width: 4.75rem;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-left: 1.5rem;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from { color: #6070ff; }
  to { color: darkslateblue; }
}

.nav-item {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-item {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: #6070ff;
    display: flex;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    padding: 8rem 2rem;
    z-index: 50;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item li {
    margin-bottom: 40px;
  }

  .nav-item li a {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    transition: color 1s;
  }

  .nav-item li a:hover {
    color: #000;
  }

  .active {
    visibility: visible;
    opacity: 1;
    left: 0;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    overflow-y: hidden;
  }

  .social_media_icons {
    cursor: pointer;
    z-index: 100;
  }
}

.social_media_icons {
  width: 1.125rem;
  height: 0.7rem;
  margin-right: 2.25rem;
}

.headline {
  width: 100%;
  height: 95.12vh;
  background: #fff;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  gap: 0.75rem;
  border-radius: 0 0 0 60px;
}

.headline-1 {
  width: 20.438rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
}

.headline-1-h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
}

.headline-2 {
  width: 20.438rem;
  height: 9.125rem;
}

.headline-2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.headline-3 {
  width: 7.5rem;
  height: 1.5rem;
}

.headline-3-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.headline-4 {
  width: 10.636rem;
  height: 1.25rem;
}

.headline-4-ul {
  width: 10.636rem;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* works */
.works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  width: 100vw;
  height: 439.05vh;
  gap: 5.5rem;
  padding: 7.125rem 1.5rem;
  overflow-x: hidden;
}

/* works-1 */
.works-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 86.93vh;
  background: #fff;
  border: 0.063rem solid #dfe1e6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-1-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-1-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 45.35vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-1-div2-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 12.6vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-1-div2-1-a {
  width: 78.67vw;
  height: 5.67vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-1-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
}

.works-1-div2-1-b-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.75rem;
  width: 62.93vw;
  height: 5.04vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-1-div2-1-b-ul-li-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 14.67vw;
  height: 5.04vh;
}

.works-1-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #344563;
}

.works-1-div2-1-b-ul-li-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 24.46vw;
  height: 5.04vh;
}

.works-1-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-1-div2-1-b-ul-li-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 7.73vw;
  height: 5.04vh;
}

.works-1-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
  height: 2.52vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-1-div2-2 {
  width: 76.67vw;
  height: 11.97vh;
}

.works-1-div2-2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #344563;
}

.works-1-div2-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: 54.13vw;
  height: 3.78vh;
}

.works-1-div2-3-btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 3.313rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-1-div2-3-btn1-sp1 {
  width: 1.813rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-1-div2-3-btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 2.813rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-1-div2-3-btn2-sp2 {
  width: 1.313rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-1-div2-3-btn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 5.563rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-1-div2-3-btn3-sp3 {
  width: 4.063rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-1-div2-4 {
  width: 78.67vw;
  height: 11.34vh;
}

.works-1-div2-4-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 7.95rem;
  height: 3rem;
  border: 1px solid #6070ff;
  border-radius: 0.75rem;
  background: #fff;
  color: #396df2;
}

.works-1-div2-4-btn-sp {
  width: 6.25rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.48px;
}

/* works-2 */
.works-2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 93.86vh;
  background: #fff;
  border: 0.063rem solid #dfe1e6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-2-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-2-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 52.28vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-2-div2-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 19.53vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-2-div2-1-a {
  width: 78.67vw;
  height: 12.6vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-2-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
}

.works-2-div2-1-b-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.75rem;
  width: 62.93vw;
  height: 5.04vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-2-div2-1-b-ul-li-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 14.67vw;
  height: 5.04vh;
}

.works-2-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #344563;
}

.works-2-div2-1-b-ul-li-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 24.46vw;
  height: 5.04vh;
}

.works-2-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-2-div2-1-b-ul-li-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 7.73vw;
  height: 5.04vh;
}

.works-2-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
  height: 2.52vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-2-div2-2 {
  width: 76.67vw;
  height: 11.97vh;
}

.works-2-div2-2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #344563;
}

.works-2-div2-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: 54.13vw;
  height: 3.78vh;
}

.works-2-div2-3-btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 3.313rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-2-div2-3-btn1-sp1 {
  width: 1.813rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-2-div2-3-btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 2.813rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-2-div2-3-btn2-sp2 {
  width: 1.313rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-2-div2-3-btn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 5.563rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-2-div2-3-btn3-sp3 {
  width: 4.063rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-2-div2-4 {
  width: 78.67vw;
  height: 11.34vh;
}

.works-2-div2-4-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 7.95rem;
  height: 3rem;
  border: 1px solid #6070ff;
  border-radius: 0.75rem;
  background: #fff;
  color: #396df2;
}

.works-2-div2-4-btn-sp {
  width: 6.25rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.48px;
}

/* works-3 */
.works-3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 86.93vh;
  background: #fff;
  border: 0.063rem solid #dfe1e6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-3-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-3-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 45.35vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-3-div2-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 12.6vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-3-div2-1-a {
  width: 78.67vw;
  height: 5.67vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-3-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
}

.works-3-div2-1-b-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.75rem;
  width: 62.93vw;
  height: 5.04vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-3-div2-1-b-ul-li-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 14.67vw;
  height: 5.04vh;
}

.works-3-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #344563;
}

.works-3-div2-1-b-ul-li-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 24.46vw;
  height: 5.04vh;
}

.works-3-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-3-div2-1-b-ul-li-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 7.73vw;
  height: 5.04vh;
}

.works-3-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
  height: 2.52vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-3-div2-2 {
  width: 76.67vw;
  height: 11.97vh;
}

.works-3-div2-2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #344563;
}

.works-3-div2-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: 54.13vw;
  height: 3.78vh;
}

.works-3-div2-3-btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 3.313rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-3-div2-3-btn1-sp1 {
  width: 1.813rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-3-div2-3-btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 2.813rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-3-div2-3-btn2-sp2 {
  width: 1.313rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-3-div2-3-btn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 5.563rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-3-div2-3-btn3-sp3 {
  width: 4.063rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-3-div2-4 {
  width: 78.67vw;
  height: 11.34vh;
}

.works-3-div2-4-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 7.95rem;
  height: 3rem;
  border: 1px solid #6070ff;
  border-radius: 0.75rem;
  background: #fff;
  color: #396df2;
}

.works-3-div2-4-btn-sp {
  width: 6.25rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.48px;
}

/* works-4 */
.works-4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 0.75rem;
  width: 87.2vw;
  height: 93.86vh;
  background: #fff;
  border: 0.063rem solid #dfe1e6;
  border-radius: 1rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-4-div1-img {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-4-div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 52.28vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-4-div2-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 78.67vw;
  height: 19.53vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-4-div2-1-a {
  width: 78.67vw;
  height: 12.6vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-4-div2-1-a-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
}

.works-4-div2-1-b-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.75rem;
  width: 62.93vw;
  height: 5.04vh;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.works-4-div2-1-b-ul-li-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 14.67vw;
  height: 5.04vh;
}

.works-4-div2-1-b-ul-li-1-sp {
  width: 14.67vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #344563;
}

.works-4-div2-1-b-ul-li-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 24.46vw;
  height: 5.04vh;
}

.works-4-div2-1-b-ul-li-3-sp {
  width: 24.46vw;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-4-div2-1-b-ul-li-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0;
  width: 7.73vw;
  height: 5.04vh;
}

.works-4-div2-1-b-ul-li-5-sp {
  width: 7.73vw;
  height: 2.52vh;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.813rem;
  line-height: 1rem;
  color: #7a869a;
}

.works-4-div2-2 {
  width: 76.67vw;
  height: 11.97vh;
}

.works-4-div2-2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  color: #344563;
}

.works-4-div2-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: 54.13vw;
  height: 3.78vh;
}

.works-4-div2-3-btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 3.313rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-4-div2-3-btn1-sp1 {
  width: 1.813rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-4-div2-3-btn2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 2.813rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-4-div2-3-btn2-sp2 {
  width: 1.313rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-4-div2-3-btn3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem;
  width: 5.563rem;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
}

.works-4-div2-3-btn3-sp3 {
  width: 4.063rem;
  height: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.works-4-div2-4 {
  width: 78.67vw;
  height: 11.34vh;
}

.works-4-div2-4-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 7.95rem;
  height: 3rem;
  border: 1px solid #6070ff;
  border-radius: 0.75rem;
  background: #fff;
  color: #396df2;
}

.works-4-div2-4-btn-sp {
  width: 6.25rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.48px;
}

/* about me */
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.125rem 1.5rem;
  gap: 1.5rem;
  width: 100vw;
  height: 78.938rem;
  background: #fff;
  border-radius: 0 60px 0 0;
}

/* top section */

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 327px;
  height: 409px;
}

.top1 {
  width: 20.438rem;
  height: 6.313rem;
}

.top1-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
}

.top2 {
  width: 20.438rem;
  height: 9rem;
}

.top2-p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.top3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1rem;
  width: 12.5rem;
  height: 5rem;
}

.top3-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: 7.313rem;
  height: 1.5rem;
}

.top3-1-p {
  width: 7.313rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.96rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.top3-2-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 12.5rem;
  height: 2.5rem;
}

.top3-2-ul-li1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.top3-2-ul-li2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.top3-2-ul-li3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.top3-2-ul-li4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.top3-2-ul-li5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.top4 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem;
  gap: 0.625rem;
  width: 10.125rem;
  height: 3rem;
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #396df2;
}

.top4-sp {
  width: 8.625rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
}

/* skill list */

.skillset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 20.438rem;
  height: 29.009rem;
}

.skillset1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 20.438rem;
  height: 20.009rem;
  border: #7f8cff;
}

.skillset1-1-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20.438rem;
  height: 4.5rem;
  justify-content: space-between;
  padding: 1rem;
}

.skillset1-1-ul-li1 {
  display: flex;
  align-items: center;
  height: 1.5rem;
  left: 0.75rem;
  right: 4.875rem;
}

.skillset1-1-ul-li1-sp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
}

.skillset1-1-ul-li2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  right: 1.625rem;
}

.skillset1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  gap: 0.75rem;
  width: 20.438rem;
  height: 15.509rem;
}

.skillset1-2-1-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 18.938rem;
  height: 4.17rem;
  padding: 0.5rem;
  background: #f7f7f9;
  border-radius: 0.5rem;
}

.skillset1-2-1-ul-li-2-sp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
}

.skillset1-2-2-ul {
  width: 18.938rem;
  height: 4.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  background: #f7f7f9;
  border-radius: 0.5rem;
}

.skillset1-2-2-ul-li2-sp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
}

.skillset1-2-3-ul {
  width: 18.938rem;
  height: 4.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.5rem;
  background: #f7f7f9;
  border-radius: 0.5rem;
}

.skillset1-2-3-ul-li2-sp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
}

.skillset2-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 20.438rem;
  height: 4.5rem;
}

.skillset2-ul-li1-sp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.skillset2-ul-li2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.skillset3-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 20.438rem;
  height: 4.5rem;
}

.skillset3-ul-li1-sp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.skillset3-ul-li2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

/* Contact Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 48.688rem;
  background: #6070ff;
  border-radius: 3.75rem 0 0 0;
  background-image: url(images/contact\ form\ shapes-mobilepair.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 21px;
  margin-top: -8.616rem;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8.438rem;
  margin-bottom: 5.438rem;
  gap: 0.75rem;
  height: 6.375rem;
}

.contact-me h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.contact-me p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20.438rem;
  height: 6.375rem;
}

.contact-me p span {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
}

.form-1 {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.form-1 ul {
  display: flex;
  flex-direction: column;
}

.name {
  background: #fff;
  border: 1px solid #cfd8dc;
  height: 3rem;
  width: 20.438rem;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.email {
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 1.25rem;
  height: 3rem;
  width: 20.438rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.msg {
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 1.125rem;
  height: 10.625rem;
  width: 20.438rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.btn1 {
  width: 6.875rem;
  height: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.063rem;
  line-height: 1.5rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

li .btn1 {
  margin-top: 1.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 3rem;
  width: 8.875rem;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

.div-shape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.form-shape {
  height: 0.313rem;
  width: 8.375rem;
  border-radius: 0.625rem;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: #172b4d;
  padding-left: 1rem;
}

.msg::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.063rem;
  line-height: 1.25rem;
  color: #b3bac5;
  padding-left: 1rem;
}

.desktop_header {
  display: none;
}

.desktop_headline {
  display: none;
}

.works-1-img-desktop {
  display: none;
}

.works-2-div1-img-desktop {
  display: none;
}

.works-2-desktop {
  display: none;
}

.works-2-div2-3-btn1-ruby {
  display: none;
}

.works-3-desktop {
  display: none;
}

.works-3-div1-img-desktop {
  display: none;
}

.works-4-desktop {
  display: none;
}

.works-4-div1-img-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    display: none;
  }

  .headline {
    display: none;
  }

  .works-1-div1-img {
    display: none;
  }

  .works-2-div1-img {
    display: none;
  }

  .works-3-div1-img {
    display: none;
  }

  .works-4-div1-img {
    display: none;
  }

  .works-2 {
    display: none;
  }

  .works-3 {
    display: none;
  }

  .works-4 {
    display: none;
  }

  /* header */
  .my_logo {
    color: #6070ff;
    animation-name: example;
    animation-duration: 6s;
  }

  @keyframes example {
    from { color: #6070ff; }
    to { color: rgb(187, 113, 200); }
  }

  .desktop_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4.5rem;
  }

  .desktop_navigation_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    background: #fff;
  }

  .desktop_navigation_bar p {
    height: 2.5rem;
    width: 6.25rem;
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
    margin-left: 8.938rem;
  }

  .desktop_navigation_bar p span {
    width: 4.75rem;
    height: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #6070ff;
  }

  .nav_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    gap: 0.5rem;
    width: 16.188rem;
    margin-right: 8.875rem;
  }

  .nav_item-li1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0.75rem;
    gap: 0.625rem;
    width: 5.438rem;
    height: 2.5rem;
  }

  .nav_item-li2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0.75rem;
    gap: 0.625rem;
    width: 4.375rem;
    height: 2.5rem;
  }

  .nav_item-li3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0.75rem;
    gap: 0.625rem;
    width: 86px;
    height: 2.5rem;
  }

  .nav_item li a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
    line-height: 1.25rem;
    color: #344563;
  }

  /* Headline */
  .desktop_headline {
    width: 100%;
    height: 52.875rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    background-image: url(images/Header\ bg1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
  }

  .desktop_headline-1 {
    display: flex;
    align-items: center;
    height: 7.625rem;
    width: 57.5rem;
    letter-spacing: 0.023rem;
    margin: 17.938rem 0 0 16.25rem;
  }

  .headline-1-h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #091e42;
  }

  .headline-2 {
    display: flex;
    align-items: center;
    width: 63.88%;
    height: 6.125rem;
    margin: 0.75rem 0 0 16.25rem;
  }

  .headline-2-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #344563;
  }

  .headline-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.5rem;
    width: 7.313rem;
    margin: 0.75rem 66.438rem 0 16.25rem;
  }

  .headline-3-p {
    width: 7.313rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #7f8cff;
  }

  .headline-4-ul {
    gap: 1rem;
    width: 1.073rem;
    height: 1.25rem;
    margin: 0.875rem 63.114rem 0 16.25rem;
  }

  /* works section */
  .works {
    display: grid;
    grid-template-rows: auto, auto auto auto;
    align-items: center;
    padding: 0 8.875rem;
    width: 90rem;
    height: 2694px;
  }

  /* work1 */
  .works-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72.25rem;
    height: 31rem;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    margin-bottom: -8.875rem;
  }

  .works-1-img-desktop {
    display: block;
  }

  .works-1-div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.5rem;
    width: 34rem;
    height: 27.813rem;
    margin: 1.5rem 1.375rem 1.688rem 1.375rem;
  }

  .works-1-div2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10.75rem;
    width: 31rem;
    height: 6.125rem;
  }

  .works-1-div2-1-a {
    width: 31rem;
    height: 2.875rem;
  }

  .works-1-div2-1-a-p {
    width: 31rem;
    height: 2.875rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #091e42;
  }

  .works-1-div2-1-b-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    width: 18.563rem;
    height: 2.5rem;
  }

  .works-1-div2-1-b-ul-li-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 4.688rem;
    height: 2.5rem;
  }

  .works-1-div2-1-b-ul-li-1-sp {
    width: 4.688rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .works-1-div2-1-b-ul-li-2 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-1-div2-1-b-ul-li-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 7.5rem;
    height: 2.5rem;
  }

  .works-1-div2-1-b-ul-li-3-sp {
    width: 7.5rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-1-div2-1-b-ul-li-4 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-1-div2-1-b-ul-li-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 2.375rem;
    height: 2.5rem;
  }

  .works-1-div2-1-b-ul-li-5-sp {
    width: 2.375rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-1-div2-2 {
    width: 31rem;
    height: 3.125rem;
  }

  .works-1-div2-2-p {
    width: 496px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .works-1-div2-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    width: 12.688rem;
    height: 1.5rem;
  }

  .works-1-div2-4 {
    width: 31rem;
    height: 9.563rem;
  }

  .works-1-div2-4-btn {
    margin-top: 1rem;
  }

  /* work2 */
  .works-2-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72.25rem;
    height: 31rem;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background: #fff;
    margin-top: -8rem;
    margin-bottom: -8.875rem;
  }

  .works-2-div1 {
    width: 34rem;
    height: 28rem;
    margin: 1.5rem 1.375rem 1.5rem 1.375rem;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .works-2-div1-img-desktop {
    display: flex;
  }

  .works-2-div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.5rem;
    width: 34rem;
    height: 29.063rem;
    margin: 1.5rem 0 0.438rem 1.5rem;
  }

  .works-2-div2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.75rem;
    width: 31rem;
    height: 6.125rem;
  }

  .works-2-div2-1-a {
    display: flex;
    align-items: center;
    height: 2.875rem;
    width: 31rem;
  }

  .works-2-div2-1-a-p {
    width: 31rem;
    height: 2.875rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #091e42;
  }

  .works-2-div2-1-b {
    width: 20rem;
    height: 2.5rem;
  }

  .works-2-div2-1-b-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.75rem;
    width: 20rem;
    height: 2.5rem;
  }

  .works-2-div2-1-b-ul-li-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 6rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  .works-2-div2-1-b-ul-li-1-sp {
    width: 6rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #344563;
  }

  .works-2-div2-1-b-ul-li-2 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-2-div2-1-b-ul-li-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 7.625rem;
    height: 2.5rem;
  }

  .works-2-div2-1-b-ul-li-3-sp {
    width: 7.625rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-2-div2-1-b-ul-li-4 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-2-div2-1-b-ul-li-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 2.375rem;
    height: 2.5rem;
  }

  .works-2-div2-1-b-ul-li-5-sp {
    width: 2.375rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-2-div2-2 {
    width: 31rem;
    height: 4.375rem;
  }

  .works-2-div2-2-p {
    width: 31rem;
    height: 4.375rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .works-2-div2-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    width: 19.75rem;
    height: 1.5rem;
  }

  .works-2-div2-3-btn1-ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.75rem;
    width: 6.563rem;
    height: 1.5rem;
    background: #ebebff;
    border-radius: 0.5rem;
  }

  .works-2-div2-3-btn1-sp1-ruby {
    width: 5.063rem;
    height: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.725rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .works-2-div2-4 {
    width: 31rem;
    height: 9.563rem;
  }

  .works-2-div2-4-btn {
    margin-top: 1rem;
  }

  /* work3 */
  .works-3-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72.25rem;
    height: 31rem;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background: #fff;
    margin-top: -8rem;
    margin-bottom: -8.875rem;
  }

  .works-3-div1-img-desktop {
    display: block;
  }

  .works-3-div1 {
    margin: 1.5rem 0 1.5rem 1.5rem;
  }

  .works-3-div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.5rem;
    width: 34rem;
    height: 29.063rem;
    margin: 1.5rem 1.375rem 0.438rem 1.375rem;
  }

  .works-3-div2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 496px;
    height: 98px;
  }

  .works-3-div2-1-a {
    width: 496px;
    height: 46px;
  }

  .works-3-div2-1-a-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .works-3-div2-1-b {
    display: flex;
    width: 20rem;
    height: 2.5rem;
  }

  .works-3-div2-1-b-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.75rem;
    width: 20rem;
    height: 2.5rem;
  }

  .works-3-div2-1-b-ul-li-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    align-content: center;
    width: 6rem;
    height: 2.5rem;
  }

  .works-3-div2-1-b-ul-li-1-sp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    align-content: center;
    width: 6rem;
    height: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .works-3-div2-1-b-ul-li-2 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-3-div2-1-b-ul-li-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 7.625rem;
    height: 2.5rem;
  }

  .works-3-div2-1-b-ul-li-3-sp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    align-content: center;
    width: 7.625rem;
    height: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-3-div2-1-b-ul-li-4 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-3-div2-1-b-ul-li-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 2.375rem;
    height: 2.5rem;
  }

  .works-3-div2-1-b-ul-li-5-sp {
    width: 2.375rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-3-div2-2 {
    width: 31rem;
    height: 4.375rem;
  }

  .works-3-div2-2-p {
    width: 31rem;
    height: 4.375rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .works-3-div2-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    width: 19.75rem;
    height: 1.5rem;
  }

  .works-3-div2-3-btn1-ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.75rem;
    width: 6.563rem;
    height: 1.5rem;
    background: #ebebff;
    border-radius: 0.5rem;
  }

  .works-3-div2-3-btn1-sp1-ruby {
    width: 5.063rem;
    height: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.725rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .works-3-div2-4 {
    width: 31rem;
    height: 9.563rem;
  }

  .works-3-div2-4-btn {
    margin-top: 1rem;
  }

  /* work4 */
  .works-4-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72.25rem;
    height: 31rem;
    border: 1px solid #dfe1e6;
    border-radius: 1.5rem;
    background: #fff;
    margin-top: -8rem;
    margin-bottom: -8.875rem;
  }

  .works-4-div1 {
    width: 34rem;
    height: 28rem;
    margin: 1.5rem 1.375rem 1.5rem 1.375rem;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .works-4-div1-img-desktop {
    display: block;
  }

  .works-4-div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 1.5rem;
    width: 34rem;
    height: 29.063rem;
    margin: 1.5rem 0 0.438rem 1.5rem;
  }

  .works-4-div2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 0.75rem;
    width: 31rem;
    height: 6.125rem;
  }

  .works-4-div2-1-a {
    display: flex;
    align-items: center;
    height: 2.875rem;
    width: 31rem;
  }

  .works-4-div2-1-a-p {
    width: 31rem;
    height: 2.875rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #091e42;
  }

  .works-4-div2-1-b {
    width: 20rem;
    height: 2.5rem;
  }

  .works-4-div2-1-b-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.75rem;
    width: 17.813rem;
    height: 2.5rem;
  }

  .works-4-div2-1-b-ul-li-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 2.688rem;
    height: 2.5rem;
  }

  .works-4-div2-1-b-ul-li-1-sp {
    width: 2.688rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2.5rem;
    color: #344563;
    margin-bottom: 1rem;
  }

  .works-4-div2-1-b-ul-li-2 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-4-div2-1-b-ul-li-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 9.313rem;
    height: 2.5rem;
  }

  .works-4-div2-1-b-ul-li-3-sp {
    width: 9.313rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-4-div2-1-b-ul-li-4 {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
  }

  .works-4-div2-1-b-ul-li-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    width: 2.375rem;
    height: 2.5rem;
  }

  .works-4-div2-1-b-ul-li-5-sp {
    width: 2.375rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #6b778c;
  }

  .works-4-div2-2 {
    width: 31rem;
    height: 4.375rem;
  }

  .works-4-div2-2-p {
    width: 31rem;
    height: 4.375rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .works-4-div2-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    width: 19.75rem;
    height: 1.5rem;
  }

  .works-4-div2-3-btn1-ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.75rem;
    width: 6.563rem;
    height: 1.5rem;
    background: #ebebff;
    border-radius: 0.5rem;
  }

  .works-4-div2-3-btn1-sp1-ruby {
    width: 5.063rem;
    height: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.725rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .works-4-div2-4 {
    width: 31rem;
    height: 9.563rem;
  }

  .works-4-div2-4-btn {
    margin-top: 1rem;
  }

  /* aboutme */
  .aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 57.75rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.5rem;
    width: 27.938rem;
    height: 24.5rem;
    margin: 0 0 8.375rem 8.875rem;
  }

  .top1 {
    width: 27.938rem;
    height: 7.125rem;
  }

  .top1-p {
    width: 27.938rem;
    height: 7.125rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .top2 {
    width: 27.938rem;
    height: 6.375rem;
  }

  .top2-p {
    width: 27.938rem;
    height: 6.375rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
  }

  .top3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1rem;
    width: 12.5rem;
    height: 5rem;
  }

  .top3-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.5rem;
    width: 7.313rem;
    height: 1.5rem;
  }

  .top3-1-p {
    width: 7.313rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.969rem;
    line-height: 1.5rem;
    color: #7f8cff;
  }

  .skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 42.75rem;
    height: 22.5rem;
    margin-top: -10.188rem;
  }

  .skillset1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 42.75rem;
    height: 13.5rem;
  }

  .skillset1-1 {
    display: flex;
    width: 42.75rem;
    height: 4.5rem;
  }

  .skillset1-1-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42.75rem;
    height: 4.5rem;
  }

  .skillset1-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    gap: 0.75rem;
    width: 25.875;
    height: 9rem;
  }

  .skillset1-2-1 {
    width: 7.625rem;
    height: 7.5rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
  }

  .skillset1-2-1-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.625rem;
    height: 7.5rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
  }

  .skillset1-2-1-ul-li1 {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
  }

  .skillset1-2-2 {
    width: 7.625rem;
    height: 7.5rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
  }

  .skillset1-2-2-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.625rem;
    height: 7.5rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
  }

  .skillset1-2-2-ul-li1 {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
  }

  .skillset1-2-3 {
    width: 7.625rem;
    height: 7.5rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
  }

  .skillset1-2-3-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7.625rem;
    height: 7.5rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
  }

  .skillset1-2-3-ul-li1 {
    width: 3rem;
    height: 3rem;
    border: 1px solid #fff;
  }

  .skillset2 {
    width: 42.75rem;
    height: 4.5rem;
  }

  .skillset2-ul {
    display: flex;
    flex-direction: row;
    width: 42.75rem;
    height: 4.5rem;
  }

  .skillset3 {
    width: 42.75rem;
    height: 4.5rem;
  }

  .skillset3-ul {
    display: flex;
    flex-direction: row;
    width: 42.75rem;
    height: 4.5rem;
  }

  /* contact form */
  .form {
    height: 52.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    background-image: url(images/contact\ form\ background\ shapesdesk.svg);
    background-position: left;
  }

  .few {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
    width: 50.063rem;
    height: 36.063rem;
    margin: 8.875rem 19.938rem 7.938rem 20rem;
  }

  .contact-me .form-h2 {
    width: 50.063rem;
    height: 3.5rem;
    margin: -8.875px 19.938rem 0 20rem;
  }

  .contact-me .txt-p {
    display: flex;
    width: 35.563rem;
    height: 6.375rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 27.25rem;
    margin-right: 27.188rem;
    text-align: center;
    color: #ebebff;
  }

  .form-1 {
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1.688rem;
    width: 27.938rem;
    height: 24.688rem;
  }

  .div-shape {
    display: none;
  }
}
